<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.market-digest.fetch-insiders</string>

  <key>ProgramArguments</key>
  <array>
    <string>__DIGEST_HOME__/bin/jobs</string>
    <string>fetch-insiders</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>DIGEST_HOME</key>
    <string>__DIGEST_HOME__</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin</string>
  </dict>

  <key>WorkingDirectory</key>
  <string>__DIGEST_HOME__</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>7</integer>
    <key>Minute</key><integer>30</integer>
  </dict>

  <key>StandardErrorPath</key>
  <string>/tmp/market-digest-fetch-insiders.err.log</string>
  <key>StandardOutPath</key>
  <string>/tmp/market-digest-fetch-insiders.out.log</string>
</dict>
</plist>
